@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #FFFFFF;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.image {
  padding: 2px 0;
  max-width: 900px;
  width: 100%;
}

.Messages-List {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.message {
  display: flex;
  margin-top: 10px;
}

.message.currentMember {
  flex-direction: row-reverse;
  text-align: center;
}

.Message-content {
  display: inline-block;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.username {
  display: block;
  color: #660475;
  font-size: 25px;
  padding-bottom: 4px;
}

.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  display: inline-block;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input [type=text] {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #D721EF;
  flex-grow: 1;
  font-family: 'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #D721EF;
  border: none dotted #660475;
  border-radius: 8px;
  margin-left: 10px;
  
}


